* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 15px;
}

.user {
    &__card {
        max-width: 1200px;
        padding: 15px;
        margin: 15px auto;
        border-radius: 6px;
        background-color: rgba(199, 198, 198, 0.5);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 10px;

        @media (max-width: 440px) {
            flex-direction: column;
            align-items: center;
        }

        &--data {
            display: flex;
            align-items: center;

            & img {
                width: 100px;
            }
        }

        &--role {
            display: flex;
            align-items: center;
            padding: 12px;
            gap: 4px;
            border-radius: 6px;


            background-color: rgba(204, 107, 252, 0.3);

            & img {
                width: 50px;
            }
        }
    }
}

.courses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;

    @media (max-width: 655px) {
        flex-direction: column;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .mark {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px;
        border-radius: 6px;
        background-color: rgba(204, 107, 252, 0.3);

        &__score {
            background-color: rgba(129, 255, 40, 0.5);
            padding: 12px;
            border-radius: 6px;
        }
    }
}